{% extends "base.html" %}

{% block body %}

  <div class="container about page-container">
    <h1 class="text-center">About Me</h1>
    <div class="clearfix">
      <img class="col-md-6 float-md-end d-block" src="../static/img/compressed/profilepic.jpg" alt="...">
      <p>Born in San Diego, California, I have enjoyed the privileges of sunny skies and vast beaches for most of my life. After getting my Bachelor's degree and working in San Diego for a few years, I desired a change of pace and made the move up to the Los Angeles area. With much to do and many people to meet, I have settled down here since.</p>
      <p>My personality and life experiences have shaped the person I am today - one who is a problem-solver, a creator, and a designer. I enjoy all aspects of building web applications and websites because I am able to solve and address problems in a creative manner.</p>
      <p>My imaginative mind helps me achieve my goals as I create, especially moreso because of my professional experience as a problem-solver. I have learned to apply what I have gained with my experience to web programming. I may not have the typical background of a programmer, but I have the heart of one.</p>
      <p>I also am able to bring my vast interests and hobbies to my work as well. I enjoy learning about new things, so I am constantly looking for the next thing to try or get to know. This includes my interest in camping, indie music, Korean dramas, Japanese anime, jigsaw puzzles, and my four-legged furry family member.</p>
      <p>I am sure that my continued interests and hobbies have played a tremendous role in honing and polishing my creativity, talents, flexibility, and problem-solving mind. I love to challenge myself and am comfortable probing my mind to think about the next problem to solve or the next design to create.</p>
      <p>If you need any of my expertise or would like to know me through my work, feel free to contact me. If you have an interesting project that you would like to suggest, you're also more than welcome!</p>
    </div>
  </div>

{% endblock %}