{% extends "base.html" %}

{% block body %}
  <div class="container contact page-container">
    <div class="row">
      <h1 class="text-center">Contact</h1>
    </div>
    <div class="row">
      <div class="col-2 offset-md-3 text-end">
        <h3>E-MAIL</h3>
      </div>
      <div class="col-4">
        <a href="mailto:irisbhan@gmail.com"><p>irisbhan@gmail.com</p></a>
      </div> 
    </div>
    <div class="row">
      <div class="col-2 offset-md-3 text-end">
        <h3>LINKEDIN</h3>
      </div>
      <div class="col-4">
        <a href="https://www.linkedin.com/in/irisbhan"><p>linkedin.com/in/irisbhan</p></a>
      </div> 
    </div>
    <div class="row">
      <div class="col-2 offset-md-3 text-end">
        <h3>GITHUB</h3>
      </div>
      <div class="col-4">
        <a href="https://github.com/ibhan88"><p>github.com/ibhan88</p></a>
      </div> 
    </div>  
  </div>
{% endblock %}