{% extends "base.html" %}

{% block body %}

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-caption d-md-block carousel-title-lt">
        <h1>IMAGINE</h1>
        <h4>ALL POSSIBILITIES</h4>
      </div>
      <img src="../static/img/bg/pexels-steve-johnson-1292241.jpg" class="d-block img-bg" alt="...">
    </div>
    <div class="carousel-item carousel-dark">
      <div class="carousel-caption d-md-block carousel-text-rt">
        <h1>Vegan Recipe Collector</h1>
        <h4>Allows user to search and save recipes</h4>
      </div>
      <img src="../static/img/vegan/screenshot-main.png" class="d-block project-img-lt" alt="...">
    </div>
    <div class="carousel-item">
      <div class="carousel-caption d-md-block carousel-title-rt">
        <h1>INNOVATE</h1>
        <h4>AND EXECUTE</h4>
      </div>
      <img src="../static/img/bg/pexels-faik-akmd-1025469.jpg" class="d-block img-bg" alt="...">
    </div>
    <div class="carousel-item carousel-light">
      <div class="carousel-caption d-md-block carousel-text-lt">
        <h1>My Portfolio Site</h1>
        <h4>Showcases myself and my projects</h4>
      </div>
      <img src="../static/img/portfolio/main.png" class="d-block project-img-rt" alt="...">
    </div>
    <div class="carousel-item">
      <div class="carousel-caption d-md-block carousel-title-rt">
        <h1>CREATE</h1>
        <h4>ANYTHING & EVERYTHING</h4>
      </div>
      <img src="../static/img/bg/pexels-elina-krima-3311382.jpg" class="d-block img-bg" alt="...">
    </div>
    <div class="carousel-item carousel-dark">
      <div class="carousel-caption d-md-block carousel-text-rt">
        <h1>Title Text 3</h1>
        <h4>Some placeholder text</h4>
      </div>
      <img src="../static/img/placeholder.jpg" class="d-block project-img-lt" alt="...">
    </div>
    <div class="carousel-item">
      <div class="carousel-caption d-md-block carousel-title-rt">
        <h1>SHARE</h1>
        <h4>REALIZED DREAMS</h4>
      </div>
      <img src="../static/img/bg/pexels-damon-hall-1705254.jpg" class="d-block img-bg" alt="...">
    </div>    
    <div class="carousel-item carousel-light">
      <div class="carousel-caption d-md-block carousel-text-lt">
        <h1>Sky Shade & Blinds</h1>
        <h4>Showcases products and services</h4>
      </div>
      <img src="../static/img/sky/main.png" class="d-block project-img-rt" alt="...">
    </div>
  </div>
</div>



<div class="container intro">
  <h1 class=>Introduction</h1>
  <p class="intro-container col">I am an expert admin with a background in Communications, particularly film and video editing. I have a wide variety of work experiences, which demonstrates my strong ability to learn and apply myself wherever I am, whether it be to use my organizational skills, utilize my Korean language skills, display my creativity, or build something new. Highly curious and equally creative, I aim to build a solid career in web development where I can creatively, yet efficiently solve problems.</p>
</div>


{% endblock %}






