{% extends "base.html" %}

{% block body %}
  <div class="projects page-container">
    <div class="row">
      <h1 class="text-center">Projects</h1>
    </div>

    <div class="row justify-content-center">
      <div id="project-one" class="col-sm-12 col-md-6 col-lg-4 project-card rounded">
        <a href="/project/1"><img class="rounded" src="../static/img/vegan/screenshot-main.png" alt="..."></a>
        <a href="/project/1"><h3 class="text-center card-title">Vegan Recipe Collector</h3></a>
        <p>Search for recipes, save to user box, and view recipe diagram.</p>
      </div>
      <div id="project-two" class="col-sm-12 col-md-6 col-lg-4 project-card rounded">
        <a href="/project/2"><img class="rounded" src="../static/img/portfolio/main.png" alt="..."></a>
        <a href="/project/2"><h3 class="text-center card-title">My Portfolio Site</h3></a>
        <p>Show project portfolio and information about me.</p>
      </div>
      <div id="project-three" class="col-sm-12 col-md-6 col-lg-4 project-card rounded">
        <a href="/project/3"><img class="rounded" src="../static/img/placeholder.jpg" alt="..."></a>
        <a href="/project/3"><h3 class="text-center card-title">Web Services Site</h3></a>
        <p>Inform clients about the creative web services offered.</p>
      </div>
      <div id="project-four" class="col-sm-12 col-md-6 col-lg-4 project-card rounded">
        <a href="/project/4"><img class="rounded" src="../static/img/placeholder.jpg" alt="..."></a>
        <a href="/project/4"><h3 class="text-center card-title">Company Name</h3></a>
        <p>A website to display the company's products and list the services offered.</p>
      </div>
      <div id="project-five" class="col-sm-12 col-md-6 col-lg-4 project-card rounded">
        <a href="/project/5"><img class="rounded" src="../static/img/placeholder.jpg" alt="..."></a>
        <a href="/project/5"><h3 class="text-center card-title">Project #5</h3></a>
        <p>This contains information about the project. It will contain a brief description about the project's aims and goals.</p>
      </div>
      <div id="project-six" class="col-sm-12 col-md-6 col-lg-4 project-card rounded">
        <a href="/project/6"><img class="rounded" src="../static/img/placeholder.jpg" alt="..."></a>
        <a href="6"><h3 class="text-center card-title">Project #6</h3></a>
        <p>This contains information about the project. It will contain a brief description about the project's aims and goals.</p>
      </div>
    </div>

  </div>

{% endblock %}