{% extends "base.html" %}

{% block body %}
  <div class="container skills-tech page-container">
    <div class="row">
      <h1 class="text-center">Skills & Technologies</h1>
    </div>

    <div class="skills rounded row">
      <div class="st-title col">
        <h2>Skills</h2>
      </div>
      <div class="col-5">
        <p>Bilingual in English/Korean</p>
        <p>Familiar with software engineering technologies</p>
        <p>Able to work with both Windows and Mac operating systems</p>
        <p>Able to edit videos</p>
        <p>Proficient in MS Office programs</p>
        <p>Detail-oriented, highly organized, and able to multi-task</p>
      </div>
      <div class="col-5">
        <p>Adaptable to any environment</p>
        <p>Fast-learner and eager to learn</p>
        <p>Able to work well under pressure and tight time constraints</p>
        <p>Effectively communicate</p>
        <p>Flexible and able to prioritize</p>
        <p>Able to work both independently and within a team</p>
      </div>
    </div>

    <div class="technologies rounded row">
      <div class="st-title col">
        <h2>Technologies</h2>
      </div>
      <div class="col-9">
        <p><span>Languages</span> || Python | JavaScript (AJAX, JSON) | HTML | CSS | SQL</p>
        <p><span>Frameworks/Libraries</span> || Flask | jQuery | Bootstrap | Jinja | d3</p>
        <p><span>Database/Industry Tools</span> || PostgreSQL | Git | GitHub | Command Line</p>
        <p><span>Editing Software</span> || Gimp | Blender</p>
      </div>
    </div>
    
  </div>


{% endblock %}