{% extends "base.html" %}

{% block body %}

  <div class="container work-edu page-container">
    <div class="row">
      <h1 class="col text-center">Work & Education</h1>
    </div>

    <div class="work-experience">
      <h2>Work Experience</h2>
      <div class="work-all rounded mb-4">
        <div class="work-card pb-2">
            <h3>Operations Manager/Executive Assistant</h3>
            <div class="row justify-content-between">
              <h4 class="col-9">United Fashion Clothing LLC</h4>
              <h4 class="col-3">Mar 2018 - Jun 2020</h4>
            </div>
        </div>
        <div class="work-card pb-2">
          <h3 class="pt-2">IT Technician/Project Manager</h3>
          <div class="row justify-content-between">
            <h4 class="col-9">NI-Tech Inc</h4>
            <h4 class="col-3">Jul 2017 - Dec 2017</h4>
          </div>
        </div>
        <div class="work-card pb-2">
          <h3 class="pt-2">HR/Accounting/Design Assistant</h3>
          <div class="row justify-content-between">
            <h4 class="col-9">West Bay Inc</h4>
            <h4 class="col-3">Apr 2014 - Jun 2016</h4>
          </div>
        </div>
        <div class="work-card pb-2">
          <h3 class="pt-2">Sign Designer/General Assistant</h3>
          <div class="row justify-content-between">
            <h4 class="col-9">Zion Market</h4>
            <h4 class="col-3">Aug 2013 - Mar 2014</h4>
          </div>
        </div>
        <div class="work-card pb-2">
          <h3 class="pt-2">Private Tutor</h3>
          <div class="row justify-content-between">
            <h4 class="col-9">Freelance</h4>
            <h4 class="col-3">Aug 2004 - Mar 2014</h4>
          </div>
        </div>
        <div class="work-card work-last">
          <h3 class="pt-2">Executive Assistant</h3>
          <div class="row justify-content-between">
            <h4 class="col-9">Ultimate Green Energy Holdings Ltd</h4>
            <h4 class="col-3">Sep 2010 - Jul 2011</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="education">
      <h2 class="row">Education</h2>
      <div class="edu-all rounded">
        <div class="edu-card pb-2">
          <h3>Hackbright Academy</h3>
          <h4>Full-Stack Software Engineering</h4>
          <h4>2016 - 2016</h4>
        </div>
        <div class="edu-card">
          <h3>University of California, San Diego</h3>
          <h4>Bachelor of Arts, Communication</h4>
          <h4>2006 - 2009</h4>
        </div>
      </div>
    </div>
    
  </div>

{% endblock %}